<a href="{% url 'event-list' %}">Back</a>
<table >
    <thead>
        <tr role="row">
            <th>#</th>
            <th>username</th>
        </tr>
    </thead>
    <tbody>
        {% if not attendees %}
        <tr>
            <td colspan="2">No Attendees</td>
        </tr>
        {% else %}
        {% for attendee in attendees %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ attendee.user }}</td>
          </tr>
         
        {% endfor %}
        {% endif %}
    </tbody>
</table>